.prose {
  .heading-anchor {
    @apply hover:opacity-50 opacity-30 text-muted-foreground ml-[-1ch] pr-1;
  }

  .heading-anchor::before {
    content: "#";
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply scroll-mt-8 mt-14;
  }
}
