name: CI

on:
  push:
    branches: ["main"]
  pull_request:
    types: [opened, synchronize]

jobs:
  build:
    name: Build, Linting
    timeout-minutes: 15
    runs-on: ubuntu-latest

    steps:
      - name: check out code
        uses: actions/checkout@v6
        with:
          fetch-depth: 2

      - uses: pnpm/action-setup@v4
        with:
          version: 10.4.1

      - name: setup node.js environment
        uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: "pnpm"

      - name: install dependencies
        run: pnpm ci:install

      - name: types
        run: pnpm check-types

      - name: formatting
        run: pnpm check

      - name: build
        run: pnpm build

      - name: tests
        run: pnpm test

      - name: install playwright browsers
        run: pnpm exec playwright install --with-deps

      - name: run playwright tests
        run: pnpm e2e
      - uses: actions/upload-artifact@v4
        if: ${{ !cancelled() }}
        with:
          name: web-playwright-report
          path: web/playwright-report/
          retention-days: 30
