name: Playwright Tests
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
      - name: check out code
        uses: actions/checkout@v6
        with:
          fetch-depth: 2

      - uses: pnpm/action-setup@v4
        with:
          version: 10.4.1

      - name: setup node.js environment
        uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: "pnpm"

      - name: install dependencies
        run: pnpm ci:install

      - name: install playwright browsers
        run: pnpm exec playwright install --with-deps
      - name: run playwright tests
        run: pnpm exec playwright test
      - uses: actions/upload-artifact@v4
        if: ${{ !cancelled() }}
        with:
          name: playwright-report
          path: playwright-report/
          retention-days: 30
